body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li {
    display: inline-block; 
    margin-right: 10px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

.titulo h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

.task-table {
    width: 100%; 
    border-collapse: collapse; 
    margin: 20px 0; 
}

.task-table th, 
.task-table td {
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: left;
}

.task-table th {
    background-color: #f2f2f2;
}

.task-table a {
    color: #007BFF; 
    text-decoration: none; 
}


footer {
    margin-top: auto; 
    background-color: #f2f2f2; 
    text-align: center;
    padding: 10px 0; 
    
    width: 100%; 
}
.form-container {
  
    margin: 20px auto; 
    padding: 10px; 
    border: 1px solid #ccc; 
}

.form-container label {
    display: block; 
    margin: 5px 0; 
}

.form-container input {
    width: 100%; 
    padding: 5px; 
    margin-bottom: 10px; 
}

.link-container {
    text-align: center; 
    margin-top: 50px; 
}

.link-container a {
    display: inline-block; 
    margin: 0 10px; 
    text-decoration: none; 
    color: #007BFF; 
}